# falg 為 0 說明以下定時是依照現實生活中的時間
# falg 為 1 說明以下定時是依照遊戲中的時間
#
# day_in_month 一個月中的第幾天，范圍 1-31
#
# day_in_week  星期幾 范圍 0-6 ( 0 為星期日 )
#
# month_in_year 月份 范圍 0-11
#
# hour  小時    范圍 0-23
#
# minute 分鐘   范圍 0-59
#
# object、function 是條件滿足時觸發 object->function
#
# 沒有用的項用 '*' 星號 填補
# 每一項中可以用 ',' 逗號來分割多條件
#
# 以下是格式：
#flag:minute:hour:day_in_week:day_in_month:month_in_year:year object function string *args
#


#每分鐘檢測排程心跳情況
0:*:*:*:*:*:* /adm/daemons/scheduled start_events

#每分鐘清理系統內存
0:*:*:*:*:*:* /adm/daemons/timed auto_relaim

#每 15 分鐘更新 MUDLIST 紀錄
0:*/15:*:*:*:*:* /adm/daemons/mudlistd distributed_connect
#0:*/18:*:*:*:*:* /adm/daemons/mysql_schedule_d refresh_mudlist

#開放戰場報名
0:20:14:*:*:*:* /adm/daemons/battlefieldd start_join battle1
0:20:15:*:*:*:* /adm/daemons/battlefieldd start_join battle2
0:20:16:*:*:*:* /adm/daemons/battlefieldd2 start_join
0:20:19:*:*:*:* /adm/daemons/battlefieldd start_join battle1
0:20:21:*:*:*:* /adm/daemons/battlefieldd start_join battle2
0:20:22:*:*:*:* /adm/daemons/battlefieldd2 start_join
0:20:23:*:*:*:* /adm/daemons/battlefieldd start_join battle1
0:20:0:*:*:*:* /adm/daemons/battlefieldd start_join battle2
0:20:1:*:*:*:* /adm/daemons/battlefieldd2 start_join
0:20:2:*:*:*:* /adm/daemons/battlefieldd start_join battle1
0:20:3:*:*:*:* /adm/daemons/battlefieldd start_join battle2
0:20:4:*:*:*:* /adm/daemons/battlefieldd start_join battle1
0:20:5:*:*:*:* /adm/daemons/battlefieldd start_join battle2
# 天下第一大幫爭鬥戰
0:10:20:*:*:*:* /adm/daemons/bunchd start_join

# 遊戲時間每月1日幫派盤點
1:11:11:*:1:*:* /adm/daemons/bunchd manage_areas

#定時出現的BOSS
0:1:*:*:*:*:* /adm/daemons/timed place_boss pantu
0:6:*:*:*:*:* /adm/daemons/timed place_boss taofan
0:8:*/3:*:*:*:* /adm/daemons/timed place_boss god_dragon
0:11:*:*:*:*:* /adm/daemons/timed place_boss boguang
0:16:*:*:*:*:* /adm/daemons/timed place_boss daoke
0:21:*:*:*:*:* /adm/daemons/timed place_boss feizei
0:36:*:*:*:*:* /adm/daemons/timed place_boss sea_dragon
0:58:*/2:*:*:*:* /adm/daemons/timed place_boss golden_dragon
0:41:*:*:*:*:* /adm/daemons/timed place_boss wudu
0:46:*:*:*:*:* /adm/daemons/timed place_boss dugu
0:50:*/2:*:*:*:* /adm/daemons/timed place_boss fawang
0:51:*:*:*:*:* /adm/daemons/timed place_boss longnv
0:56:*:*:*:*:* /adm/daemons/timed place_boss gongsun
0:20:*/2:*:*:*:* /adm/daemons/timed place_boss ouyangfeng
0:28:*:*:*:*:* /adm/daemons/timed place_boss jiangshi
0:35:*/2:*:*:*:* /adm/daemons/timed place_boss fusang
0:38:*:*:*:*:* /adm/daemons/timed place_boss liulishou
