obj/
*.o
*.a
*.out
addr_server
cc.h
comptest
comptest.c
comptest.tab.c
comptest.y
configuration
driver
dtrace_compile
ed.c.big5
edit_source
func_spec.cpp
grammar.tab.c
grammar.tab.h
make_func.tab.c
portbind
tmp/
y.tab.c
